#==================================================#
#               Server Configuration               #
#==================================================#

HOST=0.0.0.0
PORT=3080

MONGO_URI=mongodb://mongodb:27017/LibreChat

DOMAIN_CLIENT=https://assistant.aes.my.id
DOMAIN_SERVER=https://assistant.aes.my.id

NO_INDEX=true
TRUST_PROXY=true

#=============#
# Permissions #
#=============#

UID=1001
GID=1001

#==============#
# Node Options #
#==============#

NODE_MAX_OLD_SPACE_SIZE=6144

#===================================================#
#                     Endpoints                     #
#===================================================#

# ENDPOINTS=openAI,assistants,azureOpenAI,google,anthropic

#==========================#
#   Azure Assistants API   #
#==========================#

CREDS_KEY=
CREDS_IV=

#==================================================#
#                      Search                      #
#==================================================#

SEARCH=true
MEILI_NO_ANALYTICS=true
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=

#===================================================#
#                    User System                    #
#===================================================#

ALLOW_EMAIL_LOGIN=true
ALLOW_REGISTRATION=false
ALLOW_SOCIAL_LOGIN=true
ALLOW_SOCIAL_REGISTRATION=false
ALLOW_PASSWORD_RESET=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=true

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7

JWT_SECRET=
JWT_REFRESH_SECRET=

# OpenID
OPENID_CLIENT_ID=librechat
OPENID_CLIENT_SECRET=
OPENID_ISSUER=https://auth.aes.my.id/.well-known/openid-configuration
OPENID_SESSION_SECRET=
OPENID_SCOPE="openid profile email"
OPENID_CALLBACK_URL=/oauth/openid/callback
OPENID_USERNAME_CLAIM=preferred_username
OPENID_NAME_CLAIM=name
OPENID_AUTO_REDIRECT=true
OPENID_BUTTON_LABEL="Log in with Authelia"
OPENID_IMAGE_URL="https://www.authelia.com/images/branding/logo-cropped.png"

OPENAI_API_KEY=
#===================================================#
#                        UI                         #
#===================================================#

APP_TITLE=LibreChat
HELP_AND_FAQ_URL=https://librechat.ai
